{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% block title %}Contact - DOGONLY{% endblock %}

{% block content %}

    <div class="contact">
        <link rel="stylesheet" href="{% static 'styles/contact.css' %}">
        <h1>Contact</h1>
        <form action="{% url 'send_contact' %}" method="post">
            {% csrf_token %}
            <p>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </p>
            <p>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </p>
            <p>
                <label for="category">Category:</label>
                <select id="category" name="category">
                    <option value="product_inquiry" selected>Product Inquiry</option>
                    <option value="technical_support">Technical Support</option>
                    <option value="account_support">Account Support</option>
                    <option value="feedback">Feedback/Suggestions</option>
                    <option value="other">Other</option>
                </select>
            </p>
            <p>
                <label for="inquiry">Inquiry:</label>
                <textarea id="inquiry" name="inquiry" required></textarea>
            </p>
            <p>
                <input type="submit" value="submit">
            </p>
    </form>
    </div>
{% endblock %}
